{% extends "base.html" %}
{% load dict_extras %}
{% block title %}Estadísticas{% endblock %}
{% block header %}Estadísticas{% endblock %}
{% block content %}
<div class="grid two">
  <div class="card">
    <h3>Por estado</h3>
    <ul>
      {% for k,v in by_estado.items %}
        <li>{{ k|default_if_none:"(sin estado)" }}: <b>{{ v }}</b></li>
      {% empty %}<li>Sin datos</li>{% endfor %}
    </ul>
  </div>
  <div class="card">
    <h3>Top coberturas</h3>
    <ul>
      {% for k,v in by_cob.items %}
        <li>{{ k|default_if_none:"(sin cobertura)" }}: <b>{{ v }}</b></li>
      {% empty %}<li>Sin datos</li>{% endfor %}
    </ul>
  </div>
  <div class="card">
    <h3>Top médicos</h3>
    <ul>
      {% for k,v in by_med.items %}
        <li>{{ k|default_if_none:"(sin médico)" }}: <b>{{ v }}</b></li>
      {% empty %}<li>Sin datos</li>{% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
